.main{
    height: 1500px;
}

.main h3{
    color: white;
}

.main img{
 height: 511px;
 width: 361px;
}



@media only screen and (min-width: 2880px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       

}

@media only screen and (max-width: 2560px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       
       

}

@media only screen and (max-width: 1920px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       
       

}


@media only screen and (max-width: 1920px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       
       

}

@media only screen and (max-width: 1680px) {
    #facebook{
        transform: translate(200%,-100%);
    }
       
       

}

@media only screen and (max-width: 1440px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       
       

}

@media only screen and (max-width: 1366px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       

}

@media only screen and (max-width: 1200px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       

}

@media only screen and (max-width: 1125px) {

    #facebook{
        transform: translate(200%,-100%);
    }
       

}

@media only screen and (max-width: 1080px) {

   
    #facebook{
        transform: translate(200%,-100%);
    }
       

}

@media only screen and (max-width: 1050px) {

  
    #facebook{
        transform: translate(200%,-100%);
    }
       

}

@media only screen and (max-width: 1024px) {

  
    #facebook{
        transform: translate(200%,-100%);
    }
       

}

@media only screen and (max-width: 966px) {

    .main{
        height: 1900px;
    }
    

    #facebook{
        transform: translate(0%,0%);
    }
       

}

@media only screen and (max-width: 900px) {

    .main{
        height: 1900px;
    }

    #facebook{
        transform: translate(0%,0%);
    }
       

}

@media only screen and (max-width: 823px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}


@media only screen and (max-width: 812px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 768px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 750px) {

    .main{
        height: 3000px;
    }

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 736px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 720px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 667px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 600px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 568px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 495px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 414px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 375px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 360px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}
@media only screen and (max-width: 320px) {

    #facebook{
        transform: translate(0%,0%);
    }
       

}

























